.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: .3s;
}

.header--scroll {
    background-color: var(--body-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logobox {
    display: flex;
    align-items: center;
}

/* .footer__logobox .logobox .logo__graphic {
    height: 3rem;
    width: 3rem;
}

.footer__logobox .logobox .logo__text {
    font-size: var(--h3-font-size);
} */

.logo__graphic {
    height: 2rem;
    width: 2rem;
    margin-right: var(--mb-0-25);
}

.logo__graphic__top {
    fill: var(--first-color-lighter);
}

.logo__graphic__bottom {
    fill: var(--first-color);
}

.logo__graphic__top--white {
    fill: #fff;
}

.logo__graphic__bottom--white {
    fill: #fff;
}

.logo__text {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.logo__text:hover {
    color: var(--first-color);
}

.nav__menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    padding: 6rem var(--mb-1-5) 3rem var(--mb-1-5);
    //box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    box-shadow: 0 -1px 4px var(--border-color);
    border-radius: 0 0 var(--mb-1) var(--mb-1);
    transition: .3s;
    z-index: var(z--fixed);
    background-color: hsla(var(--body-h), var(--body-s), var(--body-l), 0.9);
    -webkit-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.nav__menu__show {
    top: 0;
}

/*.nav__shape {
    width: 00px;
    height: 000px; /* 200px 
    background-color: var(--first-color-shape);
    border-radius: 50%;
    position: absolute;
    top: -2rem;
    left: -2rem;
    filter: blur(90px);
}*/

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--mb-0-25);
}

.nav__list__external {
    margin-top: var(--mb-1-5);
    padding-top: var(--mb-1-5);
    border-top: solid 1px var(--border-color);
}

.nav__link {
    display: flex;
    flex-direction: column;
    gap: var(--mb-0-25);
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    border-radius: var(--border-radius);
    padding: var(--mb-0-25) var(--mb-1);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__link__active {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: var(--mb-1-5);
    top: var(--mb-1-5);
}

.nav__close,
.nav__toggle {
    font-size: 1.75rem;
    cursor: pointer;
    color: var(--text-color);
}

.nav__close:hover,
.nav__toggle:hover {
    color: var(--first-color);
}

// Extra Small devices (350px and down)
@media screen and (max-width: 350px) {
    .nav__menu {
        padding: 5rem var(--mb-1) 2rem var(--mb-1);
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .header {
        background-color: hsla(var(--body-h), var(--body-s), var(--body-l), 0.9);
        -webkit-backdrop-filter: blur(20px);
        -o-backdrop-filter: blur(20px);
        -moz-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }

    .header--scroll {
        background-color: var(--body-color);
    }

    .nav__menu {
        position: relative;
        top: 0;
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        -webkit-backdrop-filter: none;
        -o-backdrop-filter: none;
        -moz-backdrop-filter: none;
        backdrop-filter: none;
        display: flex;
        align-items: center;
    }

    .nav__list {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .nav__link:hover {
        background-color: var(--container-color);
    }

    .nav__list__external {
        margin-top: 0;
        margin-left: var(--mb-1-5);
        padding-top: 0;
        padding-left: var(--mb-1-5);
        border: none;
        border-left: solid 1px var(--border-color);
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}