.journey__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-1-5);
}

.journey__tab__inactive {
    color: var(--text-color);
}

.journey__databox {
    margin-bottom: var(--mb-1-5);
}

.journey__data {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: var(--mb-1-5);
}

.journey__download {
    display: flex;
    justify-content: center;
}