@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --header-height: 4rem;
    --border-radius: .75rem;

    /* colors */
    --hue-color: 230;

    --first-color: hsl(var(--hue-color), 69%, 70%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 70%);
    --first-color-lighter: hsl(var(--hue-color), 61%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 4%, 30%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --text-color-dark: hsl(var(--hue-color), 21%, 56%);
    --input-color: hsl(var(--hue-color), 70%, 98%);
    --border-color: hsl(var(--hue-color), 40%, 92%);

    --body-h: var(--hue-color);
    --body-s: 0%;
    --body-l: 96%;

    --body-color: hsl(var(--body-h), var(--body-s), var(--body-l));
    --container-color: hsl(var(--hue-color), 50%, 98%);
    --scroll-bar-color: hsla(var(--hue-color), 12%, 90, 0%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    --accent-yellow: hsl(60, 100%, 70%);
    --accent-pink: hsl(330, 100%, 70%);
    --accent-purple: hsl(250, 100%, 70%);
    --accent-red: hsl(10, 100%, 70%);
    --accent-orange: hsl(35, 100%, 70%);
    --accent-green: hsl(115, 100%, 70%);
    --accent-cyan: hsl(170, 100%, 70%);

    --first-color-shape: hsl(253, 33%, 32%);

    /* font and typography */
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    /* margens .25rem = 4px, .5rem = 8px, ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-4: 4rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    --transition: .3s
}

/* Font sizes for larger devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== VARIABLES DARK theme ====================*/
@media (prefers-color-scheme: dark) {
    :root {
        --first-color-second: hsl(var(--hue-color), 55%, 55%);
        --title-color: hsl(var(--hue-color), 8%, 95%);
        --text-color: hsl(var(--hue-color), 8%, 80%);
        --border-color: hsl(var(--hue-color), 10%, 25%);

        --body-h: var(--hue-color);
        --body-s: 22%;
        --body-l: 4%;
        --body-color: hsl(var(--body-h), var(--body-s), var(--body-l));

        --accent-yellow: hsl(60, 100%, 75%);
        --accent-pink: hsl(330, 100%, 75%);
        --accent-purple: hsl(250, 100%, 75%);
        --accent-red: hsl(10, 100%, 75%);
        --accent-orange: hsl(35, 100%, 75%);
        --accent-green: hsl(115, 100%, 75%);
        --accent-cyan: hsl(170, 100%, 75%);

        --container-color: hsl(var(--hue-color), 8%, 12%);
        --input-color: hsl(var(--hue-color), 7%, 13%);
        --scroll-bar-color: hsl(--hue-color, 12%, 48%);
        --scroll-thumb-color: hsl(--hue-color, 12%, 36%);
    }
}