@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 4rem;
    --border-radius: 0.5rem;

    --body-h: 166;
    --body-s: 0%;
    --body-l: 96%;

    --border: var(--body-h), 40%, 92%;
    --input: var(--body-h), 70%, 98%;
    --ring: 222.2 84% 4.9%;
    --background: var(--body-h), var(--body-s), var(--body-l);
    --foreground: var(--body-h) 84% 4.9%;

    --primary: var(--body-h), 49%, 60%;
    --primary-foreground: var(--body-h), 61%, 80%;

    --secondary: var(--body-h), 57%, 70%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: var(--body-h), 40%, 96.1%;
    --accent-foreground: var(--body-h), 47.4%, 41.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: var(--body-h), 5%, var(--body-l);
    --card-foreground: var(--body-h), 5%, 98%;

    --text-color: var(--body-h), 4%, 30%;
    --text-color-light: var(--body-h), 8%, 65%;
    --text-color-dark: var(--body-h), 21%, 56%;

    --title-color: var(--body-h), 8%, 15%;

    /* --------- */

    --scroll-bar-color: hsla(var(--body-h), 12%, 90, 0%);
    --scroll-thumb-color: hsl(var(--body-h), 12%, 80%);

    --shadow-color: rgba(0, 0, 0, 0.05);
    --shadow-color-intense: rgba(0, 0, 0, 0.1);

    --accent-yellow: hsl(60, 100%, 70%);
    --accent-pink: hsl(330, 100%, 70%);
    --accent-purple: hsl(250, 100%, 70%);
    --accent-red: hsl(10, 100%, 70%);
    --accent-orange: hsl(35, 100%, 70%);
    --accent-green: hwb(115 40% 0%);
    --accent-cyan: hsl(170, 100%, 70%);

    --first-color-shape: hsl(253, 33%, 32%);

    /* margens .25rem = 4px, .5rem = 8px, ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-4: 4rem;

    --transition: 0.3s;
  }

  :root[class~="dark"] {
    --body-s: 4%;
    --body-l: 4%;

    --border: var(--body-h), 10%, 25%;

    --input: var(--body-h), 70%, 98%;

    --ring: 212.7 26.8% 83.9%;

    --background: var(--body-h), var(--body-s), var(--body-l);

    --foreground: var(--body-h) 90% 50%;

    --primary: var(--body-h), 49%, 60%;
    --primary-foreground: var(--body-h), 61%, 90%;

    --secondary: var(--body-h), 69%, 61%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 350 80% 60%;
    --destructive-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: var(--body-h), 40%, 96.1%;
    --accent-foreground: var(--body-h), 47.4%, 41.2%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: var(--body-h), 5%, var(--body-l);
    --card-foreground: var(--body-h), 5%, 6%;

    --text-color: var(--body-h), 8%, 80%;
    --text-color-light: var(--body-h), 8%, 65%;
    --text-color-dark: var(--body-h), 21%, 56%;

    --title-color: var(--body-h), 8%, 95%;
  }
}

@layer gradients {
  .linear__gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .linear__gradient-1 {
    color: var(--accent-pink);
    background-image: -webkit-linear-gradient(
      0deg,
      var(--accent-pink),
      var(--accent-purple)
    );
  }

  .linear__gradient-4 {
    color: var(--accent-cyan);
    background-image: -webkit-linear-gradient(
      0deg,
      var(--accent-cyan),
      var(--accent-green)
    );
  }

  .linear__gradient-3 {
    color: var(--accent-yellow);
    background-image: -webkit-linear-gradient(
      0deg,
      var(--accent-yellow),
      var(--accent-pink)
    );
  }

  .linear__gradient-2 {
    color: var(--accent-purple);
    background-image: -webkit-linear-gradient(
      0deg,
      var(--accent-purple),
      var(--accent-cyan)
    );
  }
}

/* ===== SCROLL BAR ===== */
/* ::-webkit-scrollbar {
  width: .5rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
} */

@layer darkImages {
  @media (prefers-color-scheme: dark) {
    img[src*="-Invert_B"] {
      filter: invert(1) hue-rotate(180deg);
    }

    img[src*="-Invert_B_C"] {
      filter: invert(1) hue-rotate(180deg) contrast(1.5);
    }

    img[src*="-Invert_W"] {
      filter: invert(1) hue-rotate(180deg);
    }

    img[src*="-Invert_W_C"] {
      filter: invert(1) hue-rotate(180deg) contrast(1.45);
    }
  }
}
