@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 4rem;
    --border-radius: 0.5rem;

    --body-h: 306;
    --body-s: 0%;
    --body-l: 96%;

    --border: var(--body-h), 10%, 92%;
    --input: var(--body-h), 10%, 22%;
    --ring: 222.2 84% 4.9%;
    --background: var(--body-h), var(--body-s), var(--body-l);
    --foreground: var(--body-h), 84%, 4.9%;

    --primary: var(--body-h), 84.1%, 40.4%;
    --primary-foreground: var(--body-h), 84.1%, 80%;

    --secondary: var(--body-h), 57%, 70%;

    --destructive: 0, 50%, 50%;
    --destructive-foreground: 210, 40%, 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: var(--body-h), 40%, 96.1%;
    --accent-foreground: var(--body-h), 47.4%, 41.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: var(--body-h), var(--body-s), 97%;
    --card-foreground: var(--body-h), var(--body-s), 98%;

    --text-color: var(--body-h), 8%, 30%;
    --text-color-light: var(--body-h), 8%, 35%;
    --text-color-dark: var(--body-h), 8%, 25%;

    --title-color: var(--body-h), 8%, 15%;

    /* --------- */

    --scroll-bar-color: hsla(var(--body-h), 12%, 90, 0%);
    --scroll-thumb-color: hsl(var(--body-h), 12%, 80%);

    --shadow-color: rgba(0, 0, 0, 0.05);
    --shadow-color-intense: rgba(0, 0, 0, 0.1);

    --accent-yellow: hsl(60, 100%, 70%);
    --accent-pink: hsl(330, 100%, 70%);
    --accent-purple: hsl(250, 100%, 70%);
    --accent-red: hsl(10, 100%, 70%);
    --accent-orange: hsl(35, 100%, 70%);
    --accent-green: hwb(115 40% 0%);
    --accent-cyan: hsl(170, 100%, 70%);

    --first-color-shape: hsl(253, 33%, 32%);

    --transition: 0.3s;
  }

  :root[class~="dark"] {
    --body-s: 4%;
    --body-l: 4%;

    --border: var(--body-h), 10%, 2%;

    --input: var(--body-h), 70%, 98%;

    --ring: 212.7 26.8% 83.9%;

    --background: var(--body-h), var(--body-s), var(--body-l);

    --foreground: var(--body-h), 24%, 99%;

    --primary: var(--body-h), 84.1%, 50.4%;
    --primary-foreground: var(--body-h), 84.1%, 77%;

    --secondary: var(--body-h), 69%, 61%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 350, 50%, 40%;
    --destructive-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: var(--body-h), 40%, 96.1%;
    --accent-foreground: var(--body-h), 47.4%, 41.2%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: var(--body-h), var(--body-s), 5%;
    --card-foreground: var(--body-h), var(--body-s), 7%;

    --text-color: var(--body-h), 8%, 80%;
    --text-color-light: var(--body-h), 8%, 75%;
    --text-color-dark: var(--body-h), 8%, 90%;

    --title-color: var(--body-h), 8%, 95%;
  }

}

@layer gradients {
  .linear__gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .linear__gradient-1 {
    color: var(--accent-pink);
    background-image: -webkit-linear-gradient(0deg,
        var(--accent-pink),
        var(--accent-purple));
  }

  .linear__gradient-4 {
    color: var(--accent-cyan);
    background-image: -webkit-linear-gradient(0deg,
        var(--accent-cyan),
        var(--accent-green));
  }

  .linear__gradient-3 {
    color: var(--accent-yellow);
    background-image: -webkit-linear-gradient(0deg,
        var(--accent-yellow),
        var(--accent-pink));
  }

  .linear__gradient-2 {
    color: var(--accent-purple);
    background-image: -webkit-linear-gradient(0deg,
        var(--accent-purple),
        var(--accent-cyan));
  }
}

/* ===== SCROLL BAR ===== */
::-webkit-scrollbar {
  width: 0.55rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--foreground));
}

@layer darkImages {
  @media (prefers-color-scheme: dark) {
    img[src*="-Invert_B"] {
      filter: invert(1) hue-rotate(180deg);
    }

    img[src*="-Invert_B_C"] {
      filter: invert(1) hue-rotate(180deg) contrast(1.5);
    }

    img[src*="-Invert_W"] {
      filter: invert(1) hue-rotate(180deg);
    }

    img[src*="-Invert_W_C"] {
      filter: invert(1) hue-rotate(180deg) contrast(1.45);
    }
  }
}

@layer base {
  h1 {
    @apply scroll-m-20 text-4xl font-semibold text-title-normal lg:text-5xl;
  }

  h2 {
    @apply mb-2 scroll-m-20 text-3xl font-semibold text-title-normal lg:text-4xl;
  }

  h3 {
    @apply mb-1 scroll-m-20 text-xl font-semibold text-title-normal lg:text-2xl;
  }

  h4 {
    @apply mb-1 scroll-m-20 text-lg font-semibold text-title-normal lg:text-xl;
  }

  small {
    @apply text-sm font-medium leading-none;
  }

  li {
    @apply ml-4 list-disc;
  }

}

@layer animations {
  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translateY(0rem);
    }

    100% {
      opacity: 0;
      transform: translateY(-1rem);
    }
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-1rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0rem);
    }
  }

  ::view-transition-old(page) {
    animation: slide-out .15s ease-out both;
  }

  ::view-transition-new(page) {
    animation: slide-in .15s ease-out both;
    animation-delay: 150ms;
  }
}

/* pre {
  overflow-x: auto;
  padding: 1rem 0;
} */


pre {
  @apply !px-0 rounded-lg;
}

code {
  @apply !leading-loose;
}

pre>code {
  counter-reset: line;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {

  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers]>[data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-4 text-right text-text-light;
}

pre [data-line] {
  @apply px-4 border-l-2 border-l-transparent;
}

[data-highlighted-line] {
  @apply !bg-primary-highlight border-l-primary;
}

[data-highlighted-chars] {
  @apply !bg-primary-highlight rounded-sm;
}

[data-chars-id] {
  @apply shadow-none p-1 border-b-2;
}

[data-chars-id] span {
  @apply !text-inherit;
}

[data-chars-id='v'] {
  @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id='s'] {
  @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id='i'] {
  @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

[data-rehype-pretty-code-title] {
  @apply bg-card-foreground text-title-normal rounded-t-lg py-2 px-3 font-semibold;
}

figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title]) pre {
  @apply !rounded-t-none;
}

figure {
  @apply mb-6 mt-1;
}

pre,
code,
figure {
  @apply overflow-x-auto;
}