.about__keywords {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--mb-0-5);
}

.keyword {
    display: inline-block;
    color: var(--title-color);
    padding: .5rem .75rem;
    border: solid 1.25px var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--small-font-size);
}