/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-top: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

.stop-scrolling {
    overflow: hidden;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img, svg {
    max-width: 100%;
    height: auto;
}

label {
    display: flex;
    align-items: center;
    gap: var(--mb-0-5);
}

.divider {
    border: none;
    height: 1px;
    background-color: var(--border-color);
    border-radius: var(--border-radius);
    opacity: .5;
}

/* ===== SCROLL BAR ===== */
::-webkit-scrollbar {
    width: .5rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}