.contact__container {
    row-gap: var(--mb-1-5);
}

.form__content {
    position: relative;
}


.form__input {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    outline: none;
    padding: var(--mb-1);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    z-index: 1;
}

.form__input--alert {
    border-color: var(--text-color);
}

.form__input--alert ~ label {
    animation-name: shake;
    animation-duration: .2s;
}


@keyframes shake {
    33% {
        transform: translateX(-.25rem);
    }
    66% {
        transform: translateX(.25rem);
    }
    100% {
        transform: translateX(0);
    }
} 

.form__input:focus {
    border-width: 1.5px;
    border-color: var(--first-color-lighter);
}

textarea {
    resize: none;
    overflow-y: hidden;
}

.form__label {
    font-size: var(--normal-font-size);
    color: var(--text-color-light);
    background-color: var(--input-color);
    position: absolute;
    left: .75rem;
    top: 1.1rem;
    padding: 0 .25rem;
    transition: .3s;
    border-radius: var(--border-radius);
    z-index: 1;
}

.form__input:focus ~ label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ label {
    top: -.65rem;
    color: var(--first-color-light);
    font-size: var(--small-font-size);
}