
.home__container {
    gap: var(--mb-1-5);
}

.home__img {
    position: relative;
    max-width: 100vw;
    height: 43vh;
    //background-color: #ff00ff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    z-index: -1;
}


.start__blob {
    position: absolute;
    width: 100%;
}

#stopo {
    //stop-color: rgb(254, 0, 242);
    stop-color: var(--first-color-lighter);
}

#stopb {
    //stop-color: rgb(251, 2, 128);
    stop-color: var(--first-color);
}

.start__blob:nth-child(1) {
    filter: blur(20px);
}

/*.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-mask-image: url(#mask);
    mask-image: url(#mask);
  }*/


.home__title {
    font-size: var(--big-font-size);
    line-height: 1;
    margin-bottom: var(--mb-1);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    line-height: 1;
    margin-bottom: var(--mb-1-5);
}

.home__description {
    margin-bottom: var(--mb-1-5);
}

.home__buttons {
    gap: var(--mb-1-5);
}

