/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 4rem 0;
}

.first__section {
    padding-bottom: 4rem;
}

.section__header {
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    font-size: var(--small-font-size);
    display: block;
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    gap: var(--mb-0-25);
}

/*==================== LAYOUT ====================*/

.container {
    max-width: 969px;
    margin: 0 var(--mb-1-5);
}

.grid {
    display: grid;
    gap: var(--mb-1-5);
}