@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --header-height: 4rem;
    --border-radius: .5rem;

    /* colors */
    --hue-color: 230; // could replace but then color preview would ne be available

    --first-color: hsl(230, 69%, 61%);
    --first-color-second: hsl(230, 69%, 61%);
    --first-color-alt: hsl(230, 57%, 53%);
    --first-color-lighter: hsl(230, 92%, 85%);
    --title-color: hsl(230, 8%, 15%);
    --text-color: hsl(230, 4%, 45%);
    --text-color-light: hsl(230, 8%, 65%);
    --text-color-dark: hsl(230, 21%, 56%);
    --input-color: hsl(230, 70%, 96%);
    --border-color: hsl(230, 40%, 92%);
    --body-color: hsl(230, 100%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(230, 12%, 90%);
    --scroll-thumb-color: hsl(230, 12%, 80%);


    --accent-color: hsl(275, 74%, 64%);
    
    --first-color-shape: hsl(253, 33%, 32%);

    /* font and typography */
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    /* margens .25rem = 4px, .5rem = 8px, ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font sizes for larger devices */ 
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*==================== VARIABLES DARK theme ====================*/
@media (prefers-color-scheme: dark) {
    :root {
        --first-color-second: hsl(230, 30%, 8%);
        --title-color: hsl(230, 8%, 95%);
        --text-color: hsl(230, 8%, 75%);
        --input-color: hsl(230, 29%, 16%);
        --border-color: hsl(230, 40%, 20%);
        --body-color: hsl(230, 21%, 14%);
        --container-color: hsl(230, 80%, 14%);
        --scroll-bar-color: hsl(230, 12%, 48%);
        --scroll-thumb-color: hsl(230, 12%, 36%);
    }
}