@import 'variables';
@import 'base';
@import 'layout';
@import 'button';

@import 'header';
@import 'home';
@import 'about';
@import 'journey';
@import 'projects';
@import 'contact';
@import 'footer';

@import 'blog';

blockquote {
    border-left: solid 1px var(--text-color);
    padding-left: 1rem;
    margin: var(--mb-0-75) 0;
}