.blog__description {
    text-align: left;
    margin-bottom: var(--mb-1-5);
}


.search__bar {
    display: flex;
    align-items: center;
    gap: var(--mb-1-5);
    width: 100%;
    margin: 0 auto;
}

.search__filter {
    font-size: 1.65rem;
    cursor: pointer;
}


.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--mb-0-5);
    //box-shadow: 0 -1px 4px var(--border-color); ??
    cursor: pointer;
}

.filter__box {
    color: var(--text-color-lighter);
    padding: .5rem .75rem;
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--small-font-size);
    background-color: var(--input-color);
    opacity: .5;
}

.filter__box__active {
    color: var(--text-color);
    border: solid 1.25px var(--border-color);
    opacity: 1;
}

.article__box {
    gap: var(--mb-1);
    margin-bottom: var(--mb-1);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.article__box-small {
    padding: var(--mb-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
}

.article__box-small:hover {
    background-color: var(--container-color);
}

.article__box--single {
    gap: var(--mb-1-5);
}

.article__img,
.article__img--large {
    border-radius: var(--border-radius);
    width: 100%;
    //max-height: 15rem;
    object-fit: cover;
}

.article__tags {
    flex-wrap: wrap;
    gap: var(--mb-0-5);
}

.article__tag {
    padding-top: .25rem;
    padding-bottom: .25rem;
    background-color: var(--input-color);
}

.article__data {
    gap: var(--mb-0-5);
}

.article__data.flex {
    align-items: center;
    justify-content: flex-end;
}

.article__text {
    color: var(--text-color);
}

.article__content {
    display: grid;
    gap: var(--mb-1);

    ul,
    ol {
        list-style: inside;
    }

    ol {
        list-style-type: decimal;
    }

    a {
        text-decoration: underline;
        color: var(--first-color);
    }

    blockquote {
        border-left: solid 1.5px var(--text-color-light);
        padding-left: var(--mb-1);
        margin: var(--mb-0-75) 0;
    }

}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    /*     .article__boxes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--mb-1-5);
    }

    .article__box--featured {
        grid-column: 1 / span 2;
        grid-template-columns: 1fr 1fr;
        gap: var(--mb-1-5);
    }

    .article__box--featured .article__data .article__title {
        font-size: var(--h2-font-size);
    } */

    .article__img {
        height: 25vh;
    }

    /*     .article__box--featured .article__data {
        grid-column: 0/1;
        height: fit-content;
        gap: var(--mb-0-75);
    } */
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    /*     .article__boxes {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--mb-2);
    }

    .article__box--featured {
        grid-column: 1 / span 3;
    } */

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}