/*==================== BUTTONS ====================*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .95rem 1.125rem;
    border-radius: var(--border-radius);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: var(--mb-0-5);
    height: 100%;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.125rem;
    transition: .3s;
}

.button--white {
    background-color: #fff;
    color: var(--first-color);
}

.button--white:hover {
    background-color: #fff;
}

.button--disabled {
    background-color: var(--border-color);
    color: var(--text-color-light);
    //text-decoration: line-through;
}

.button--disabled:hover {
    background-color: var(--border-color);
    color: var(--text-color-light);
}

.button--small {
    padding: .75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}

// Extra Small devices (350px and down)
@media screen and (max-width: 350px) {
    .button {
        padding: .75rem 1rem;
    }

    .button--small {
        padding: .5rem .75rem;
    }
}