@import"https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";

:root {
    --header-height: 4rem;
    --border-radius: .75rem;
    --hue-color: 230;
    --first-color: hsl(var(--hue-color), 69%, 70%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 70%);
    --first-color-lighter: hsl(var(--hue-color), 61%, 80%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 4%, 30%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --text-color-dark: hsl(var(--hue-color), 21%, 56%);
    --input-color: hsl(var(--hue-color), 70%, 98%);
    --border-color: hsl(var(--hue-color), 40%, 92%);
    --body-h: var(--hue-color);
    --body-s: 0%;
    --body-l: 96%;
    --glass-opacity: .6;
    --body-color: hsl(var(--body-h), var(--body-s), var(--body-l));
    --container-color: hsl(var(--body-h), 10%, var(--body-l));
    --scroll-bar-color: hsla(var(--hue-color), 12%, 90, 0%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --shadow-color: rgba(0, 0, 0, .05);
    --shadow-color-intense: rgba(0, 0, 0, .1);
    --accent-yellow: hsl(60, 100%, 70%);
    --accent-pink: hsl(330, 100%, 70%);
    --accent-purple: hsl(250, 100%, 70%);
    --accent-red: hsl(10, 100%, 70%);
    --accent-orange: hsl(35, 100%, 70%);
    --accent-green: hsl(115, 100%, 70%);
    --accent-cyan: hsl(170, 100%, 70%);
    --first-color-shape: hsl(253, 33%, 32%);
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-medium: 500;
    --font-semi-bold: 600;
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-4: 4rem;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    --transition: .3s
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --first-color-second: hsl(var(--hue-color), 55%, 55%);
        --title-color: hsl(var(--hue-color), 8%, 95%);
        --text-color: hsl(var(--hue-color), 8%, 80%);
        --border-color: hsl(var(--hue-color), 10%, 25%);
        --body-h: var(--hue-color);
        --body-s: 22%;
        --body-l: 4%;
        --body-color: hsl(var(--body-h), var(--body-s), var(--body-l));
        --shadow-color: hsla(var(--body-h), var(--body-s), 70%, .1);
        --shadow-color-intense: hsla(var(--body-h), var(--body-s), 90%, .1);
        --accent-yellow: hsl(60, 100%, 75%);
        --accent-pink: hsl(330, 100%, 75%);
        --accent-purple: hsl(250, 100%, 75%);
        --accent-red: hsl(10, 100%, 75%);
        --accent-orange: hsl(35, 100%, 75%);
        --accent-green: hsl(115, 100%, 75%);
        --accent-cyan: hsl(170, 100%, 75%);
        --container-color: hsl(var(--body-h), 8%, 6%);
        --input-color: hsl(var(--hue-color), 7%, 13%);
        --scroll-bar-color: hsl(--hue-color, 12%, 48%);
        --scroll-thumb-color: hsl(--hue-color, 12%, 36%)
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

html {
    scroll-behavior: smooth
}

body {
    margin-top: var(--header-height);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color)
}

p,
ul,
blockquote {
    line-height: 1.6rem
}

.stop-scrolling {
    overflow: hidden
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold)
}

h1 {
    font-size: var(--h1-font-size)
}

h2 {
    font-size: var(--h2-font-size)
}

h3 {
    font-size: var(--h3-font-size)
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: var(--text-color)
}

img,
svg {
    max-width: 100%;
    height: auto
}

label {
    display: flex;
    align-items: center;
    gap: var(--mb-0-5)
}

hr,
.divider {
    border: none;
    height: 1px;
    background-color: var(--border-color);
    border-radius: var(--border-radius);
    opacity: .5
}

.linear__gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.linear__gradient-1 {
    color: var(--accent-pink);
    background-image: -webkit-linear-gradient(0deg, var(--accent-pink), var(--accent-purple))
}

.linear__gradient-4 {
    color: var(--accent-cyan);
    background-image: -webkit-linear-gradient(0deg, var(--accent-cyan), var(--accent-green))
}

.linear__gradient-3 {
    color: var(--accent-yellow);
    background-image: -webkit-linear-gradient(0deg, var(--accent-yellow), var(--accent-pink))
}

.linear__gradient-2 {
    color: var(--accent-purple);
    background-image: -webkit-linear-gradient(0deg, var(--accent-purple), var(--accent-cyan))
}

::-webkit-scrollbar {
    width: .5rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: var(--border-radius)
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light)
}

.section {
    padding: var(--mb-2) 0
}

.section__header {
    margin-bottom: var(--mb-3);
    text-align: center
}

.section__subtitle {
    font-size: var(--small-font-size);
    display: block
}

.full-screen {
    height: calc(100vh - var(--header-height))
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.timeline {
    padding: 0 var(--mb-0-5)
}

.timeline__rounder {
    display: block;
    width: 13px;
    height: 13px;
    background-color: var(--border-color);
    border-radius: 50%
}

.timeline__line {
    display: block;
    width: 1px;
    height: calc(100% - .5rem - 13px);
    background-color: var(--border-color);
    transform: translate(6px, .25rem)
}

.card {
    background-color: var(--container-color);
    border-radius: var(--border-radius);
    padding: var(--mb-1) var(--mb-1-5);
    box-shadow: 0 0 .25rem var(--shadow-color)
}

.card:hover {
    box-shadow: 0 0 .5rem var(--shadow-color-intense)
}

.card__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium)
}

.card__subtitle {
    display: inline-block;
    font-size: var(--normal-font-size);
    white-space: nowrap
}

.flex {
    display: flex;
    align-items: center;
    gap: var(--mb-0-25)
}

.container {
    max-width: calc(748px - var(--mb-3));
    margin: 0 var(--mb-1-5)
}

.grid {
    display: grid;
    gap: var(--mb-1-5)
}

@media screen and (max-width: 350px) {
    .container {
        margin: 0 var(--mb-1)
    }
}

@media (min-width: 576px) {
    .container {
        margin: 0 var(--mb-3)
    }
}

@media (min-width: 768px) {
    .container {
        margin: 0 auto
    }

    .section {
        padding: var(--mb-3) 0
    }
}

@media (min-width: 992px) {
    .container {
        margin: 0 auto
    }
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .95rem 1.125rem;
    border-radius: var(--border-radius);
    font-weight: var(--font-medium);
    cursor: pointer
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: var(--mb-0-5);
    height: 100%
}

.button:hover {
    background-color: var(--first-color-alt)
}

.button__icon {
    font-size: 1.125rem;
    transition: .3s
}

.button--white {
    background-color: #fff;
    color: var(--first-color)
}

.button--white:hover {
    background-color: #fff
}

.button--disabled,
.button--disabled:hover {
    background-color: var(--border-color);
    color: var(--text-color-light)
}

.button--small {
    padding: .75rem 1rem
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color)
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt)
}

@media screen and (max-width: 350px) {
    .button {
        padding: .75rem 1rem
    }

    .button--small {
        padding: .5rem .75rem
    }
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed)
}

.header--scroll {
    background-color: var(--body-color);
    box-shadow: 0 2px 4px #0000000d
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logobox {
    display: flex;
    align-items: center
}

.logo__graphic {
    height: 2rem;
    width: 2rem;
    margin-right: var(--mb-0-25)
}

.logo__graphic__top {
    fill: var(--first-color-lighter)
}

.logo__graphic__bottom {
    fill: var(--first-color)
}

.logo__graphic__top--white,
.logo__graphic__bottom--white {
    fill: #fff
}

.logo__text {
    color: var(--title-color);
    font-weight: var(--font-medium)
}

.logo__text:hover {
    color: var(--first-color)
}

.nav__menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    padding: 6rem var(--mb-1-5) 3rem var(--mb-1-5);
    box-shadow: 0 -1px 4px var(--border-color);
    border-radius: 0 0 var(--mb-1) var(--mb-1);
    transition: .3s;
    z-index: var(z--fixed);
    background-color: hsla(var(--body-h), var(--body-s), var(--body-l), .9);
    -webkit-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px)
}

.nav__menu__show {
    top: 0
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--mb-0-25)
}

.nav__list__external {
    margin-top: var(--mb-1-5);
    padding-top: var(--mb-1-5);
    border-top: solid 1px var(--border-color)
}

.nav__link {
    display: flex;
    flex-direction: column;
    gap: var(--mb-0-25);
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    border-radius: var(--border-radius);
    padding: var(--mb-0-25) var(--mb-1)
}

.nav__link:hover,
.nav__link__active {
    color: var(--first-color)
}

.nav__icon {
    font-size: 1.2rem
}

.nav__close {
    position: absolute;
    right: var(--mb-1-5);
    top: var(--mb-2)
}

.nav__close,
.nav__toggle {
    font-size: 1.75rem;
    line-height: 0;
    cursor: pointer;
    color: var(--text-color)
}

.nav__close:hover,
.nav__toggle:hover {
    color: var(--first-color)
}

@media screen and (max-width: 350px) {
    .nav__menu {
        padding: 5rem var(--mb-1) 2rem var(--mb-1)
    }
}

@media (min-width: 768px) {
    .header {
        background-color: hsla(var(--body-h), var(--body-s), var(--body-l), .9);
        -webkit-backdrop-filter: blur(20px);
        -o-backdrop-filter: blur(20px);
        -moz-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px)
    }

    .header--scroll {
        background-color: var(--body-color)
    }

    .nav__menu {
        position: relative;
        top: 0;
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        -webkit-backdrop-filter: none;
        -o-backdrop-filter: none;
        -moz-backdrop-filter: none;
        backdrop-filter: none;
        display: flex;
        align-items: center
    }

    .nav__list {
        display: flex;
        align-items: center;
        margin-left: auto
    }

    .nav__link:hover {
        background-color: var(--container-color)
    }

    .nav__list__external {
        margin-top: 0;
        margin-left: var(--mb-1-5);
        padding-top: 0;
        padding-left: var(--mb-1-5);
        border: none;
        border-left: solid 1px var(--border-color)
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none
    }
}

.blob {
    position: relative;
    overflow: visible
}

#stopo {
    stop-color: var(--first-color-lighter)
}

#stopb {
    stop-color: var(--first-color)
}

.blob__svg:nth-child(1) {
    position: absolute;
    z-index: -1;
    filter: blur(20px)
}

.home__title {
    font-size: var(--big-font-size);
    line-height: 1
}

.home__subtitle,
.blog__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    line-height: 1
}

.home__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--mb-1);
    padding-bottom: var(--header-height)
}

.home__description {
    position: relative
}

.command__container {
    background-color: var(--container-color);
    padding: .25rem .45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    align-self: stretch;
    margin: 0 .075rem
}

.about__keywords {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--mb-0-5)
}

.keyword {
    display: inline-block;
    color: var(--title-color);
    padding: .5rem .75rem;
    border: solid 1.25px var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--small-font-size)
}

@media (min-width: 768px) {
    .about__container {
        gap: var(--mb-1-5);
        grid-template-columns: repeat(2, 1fr)
    }
}

.journey__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-1-5)
}

.journey__tab__inactive {
    color: var(--text-color)
}

.journey__databox {
    margin-bottom: var(--mb-1-5);
    display: grid;
    gap: var(--mb-0-25)
}

.journey__data {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: var(--mb-1-5)
}

.journey__download {
    display: flex;
    justify-content: center
}

.projects__container {
    gap: var(--mb-1-5);
    display: grid
}

.project__container {
    grid-template-columns: 1fr max-content;
    grid-template-rows: repeat(1, 1fr);
    gap: var(--mb-1)
}

.project__content {
    grid-row: 1;
    grid-column: 1/span 2;
    display: flex;
    flex-direction: column;
    gap: var(--mb-0-75)
}

.project__location,
.project__info {
    color: var(--text-color-light);
    font-size: var(--smaller-font-size)
}

.project__name {
    font-weight: var(--font-medium)
}

.project__topics {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mb-0-5)
}

.project__topic {
    padding: .15rem .45rem
}

.project__description {
    font-size: var(--small-font-size)
}

.project__footer {
    grid-column: 1/span 1;
    grid-row: 2;
    display: flex;
    gap: var(--mb-0-75)
}

.project__link {
    grid-column: 2;
    justify-self: end
}

@media (min-width: 992px) {
    .projects__container {
        gap: var(--mb-1-5);
        grid-template-columns: repeat(2, 1fr)
    }
}

.contact__container {
    row-gap: var(--mb-1-5)
}

.form__content {
    position: relative;
    gap: var(--mb-1);
    align-items: center
}

.form__input {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    outline: none;
    padding: var(--mb-1);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    z-index: 1
}

.form__input__icon__right {
    padding-right: 3rem
}

.form__input--alert {
    border-color: var(--text-color)
}

.form__input--alert~label {
    animation-name: shake;
    animation-duration: .2s
}

@keyframes shake {
    33% {
        transform: translate(-.25rem)
    }

    66% {
        transform: translate(.25rem)
    }

    to {
        transform: translate(0)
    }
}

.form__input:focus {
    border-width: 1.5px;
    border-color: var(--first-color-lighter)
}

textarea {
    resize: none;
    overflow-y: hidden
}

.form__label {
    font-size: var(--normal-font-size);
    color: var(--text-color-light);
    background-color: var(--body-color);
    position: absolute;
    left: .75rem;
    top: 1.1rem;
    padding: 0 .25rem;
    transition: .3s;
    border-radius: var(--border-radius);
    z-index: 1
}

.form__icon__right {
    font-size: 1.65rem;
    color: var(--text-color-light);
    position: absolute;
    top: 1rem;
    right: .75rem;
    transition: .3s;
    z-index: 1
}

.form__input:focus~label,
.form__input:not(:placeholder-shown).form__input:not(:focus)~label {
    top: -.65rem;
    color: var(--first-color-light);
    font-size: var(--small-font-size)
}

.footer {
    margin-top: var(--mb-2);
    position: relative
}

.footer__background {
    padding: 2rem 0 3rem;
    border-top: 1px solid var(--border-color);
    border-radius: var(--mb-1) var(--mb-1) 0 0
}

.footer__container {
    row-gap: 3.5rem
}

.footer__container div .logobox .logo__text {
    display: block
}

.footer__linkbox {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 4rem
}

.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1)
}

.footer__links__tab {
    display: block;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1)
}

.footer__socials {
    font-size: 2rem;
    display: flex;
    gap: var(--mb-1-5);
    line-height: 0
}

.footer__copyright {
    font-size: var(--smaller-font-size);
    text-align: left;
    color: var(--text-color-light)
}

@media (min-width: 768px) {
    .footer__linkbox {
        column-gap: 4rem
    }

    .footer__socials {
        gap: var(--mb-2)
    }
}

@media (min-width: 992px) {
    .footer__linkbox {
        column-gap: 5rem
    }
}

.blog__description {
    text-align: left;
    margin-bottom: var(--mb-1-5)
}

.search__bar {
    display: flex;
    align-items: center;
    gap: var(--mb-1-5);
    width: 100%;
    margin: 0 auto
}

.search__filter {
    font-size: 1.65rem;
    cursor: pointer
}

.filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--mb-0-5);
    cursor: pointer
}

.filter__box {
    color: var(--text-color-lighter);
    padding: .5rem .75rem;
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--small-font-size);
    background-color: var(--input-color);
    opacity: .5
}

.filter__box__active {
    color: var(--text-color);
    border: solid 1.25px var(--border-color);
    opacity: 1
}

.article__box {
    gap: var(--mb-1);
    margin-bottom: var(--mb-1);
    border-radius: var(--border-radius);
    transition: var(--transition)
}

.article__box-small {
    padding: var(--mb-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 2rem);
    position: relative;
    left: -1rem
}

.article__box-small:hover {
    background-color: var(--container-color)
}

.article__box--single {
    gap: var(--mb-1-5)
}

.article__img,
.article__img--large {
    border-radius: var(--border-radius);
    width: 100%;
    object-fit: cover
}

.article__tags {
    flex-wrap: wrap;
    gap: var(--mb-0-5)
}

.article__tag {
    padding-top: .25rem;
    padding-bottom: .25rem;
    background-color: var(--input-color)
}

.article__data {
    gap: var(--mb-0-5)
}

.article__data.flex {
    align-items: center;
    justify-content: flex-end
}

.article__text {
    color: var(--text-color)
}

.article__content {
    display: grid;
    gap: var(--mb-1)
}

.article__content ul,
.article__content ol {
    list-style: inside
}

.article__content ol {
    list-style-type: decimal
}

.article__content a {
    text-decoration: underline;
    color: var(--first-color)
}

.article__content blockquote {
    border-left: solid 1.5px var(--text-color-light);
    padding-left: var(--mb-1);
    margin: var(--mb-0-75) 0
}

@media (min-width: 768px) {
    .article__img {
        height: 25vh
    }
}

.newsletter__box {
    display: flex;
    flex-direction: column;
    gap: var(--mb-1-5);
    margin-bottom: 0
}

.newsletter__container {
    margin: 0
}

.newsletter__box .form__content {
    width: 100%
}

.modal__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsla(var(--body-h), var(--body-s), var(--body-l), .9);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: var(--z-modal)
}

.modal__background--hide {
    display: none
}

.modal__container {
    margin-top: var(--mb-1-5);
    margin-bottom: var(--mb-1-5);
    width: 100%;
    max-height: calc(100vh - var(--header-height) - 2 * var(--mb-1-5));
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: var(--mb-0-5);
    gap: var(--mb-0-5);
    background-color: hsla(var(--body-h), var(--body-s), var(--body-l), var(--glass-opacity));
    overflow-y: scroll;
    box-shadow: 0 0 1rem 0 var(--shadow-color);
    backdrop-filter: blur(.6rem)
}

.search__input {
    -webkit-appearance: none;
    width: 100%;
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    outline: none;
    border: none;
    background-color: transparent;
    z-index: 1;
    padding: var(--mb-0-5);
    border-radius: var(--border-radius)
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--mb-0-25);
    padding: 0;
    margin: 0
}

.modal__container::-webkit-scrollbar,
.list::-webkit-scrollbar {
    display: none
}

.modal__container::-webkit-scrollbar,
.list::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.list__item {
    padding: var(--mb-0-5);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: var(--mb-0-5)
}

.list__section {
    padding: 0 var(--mb-0-5);
    color: var(--text-color-light);
    font-size: var(--small-font-size)
}

.list__item--active,
.list__item:hover {
    background-color: var(--first-color-lighter);
    color: var(--body-color);
    cursor: pointer
}

@keyframes tada-animation {
    0% {
        transform: scale(1)
    }

    10%,
    20% {
        transform: scale(.9) rotate(-2deg)
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale(1.1) rotate(3deg)
    }

    40%,
    60%,
    80% {
        transform: scale(1.1) rotate(-3deg)
    }

    to {
        transform: scale(1) rotate(0)
    }
}

.list__item:hover i,
.list__item--active i {
    animation: tada-animation 2s;
    animation-iteration-count: 1
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1s
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0)
}